
<section>
  <div class="container">
    <div class="me-image">
      <img src="/assets/images/adamphoto.png" alt="" class="photo">
    </div>
    <div class="content">
      <div class="hobbies">
        <img src="/assets/images/bike.png" alt="">
        <img src="/assets/images/wine.png" alt="">
        <img src="/assets/images/rocket.png" alt="">
        <img src="/assets/images/games.png" alt="">
        <img src="/assets/images/pizza.png" alt="">
        <img src="/assets/images/fire.png" alt="">
      </div>
      <p>
        My name's Adam. I'm a Designer / Animator.
      </p>
      <p>
        I specialize in Adobe After Effects, Photoshop and Illustrator, as well as Cinema 4D. I do motion design, graphic design, web, branding, UI and video editing.
      <p>
        I’ve had an amazing career doing design work for over 10 years on a variety of projects for clients from all over the world, ranging from start-ups and small businesses to large scale companies like Google, Viacom and many more. 
      </p>
      <p>
        I get excited about making awesome work. Check out my reel. Shoot me a message, and let's make something awesome together! Cheers.
      </p>
      <img src="/assets/images/signiture.png" class="signiture" alt="">         
    </div>
</div>
</section>
