<div class="container">
<div class="home">
    <h1>Hi! I'm Adam.</h1>
    <h1>I'm a professional Media Designer.</h1>
    <div class="cta-container">
        <a routerLink="reel" class="cta">
          REEL
        </a>
    </div>
</div>
<div class="video-background">
    <div class="video-foreground">
      <video id="background-video" muted loop autoplay volume="0"  poster="/assets/images/shattered_logo.png">
        <source src="/assets/videos/home.mp4" type="video/mp4">
      </video>      
    </div>
    </div>
  </div>