<nav>
  <div class="container">
      <a class="logo-header" href="/">
        <div class="logo"><img src="/assets/images/logo.svg"></div>
        <div class="header-text">ADAMKISER.COM</div>
      </a>
      <div class="desktop">
  <div class="nav-list">
      <a class="nav-item" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        HOME
      </a>
        <a class="nav-item" routerLink="reel" routerLinkActive="active-link">
            REEL
          </a>
        <a class="nav-item" routerLink="about" routerLinkActive="active-link">
            ABOUT
          </a>
        <a class="nav-item" routerLink="resume" routerLinkActive="active-link">
            RESUME
          </a>
        <a class="nav-item" routerLink="contact" routerLinkActive="active-link">
            CONTACT
          </a>
  </div>
</div>
<div class="menu">
<div class="nav-list">
    <a class="nav-item" (click)="menu = !menu">&#9776;</a>
</div>

</div>
</div>
<div class="mobile" [ngClass]="menu ? 'showMobile': 'hideMobile'">

    <div class="nav-list" *ngIf="menu">
        <a class="nav-item" (click)="menu = false" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}">
          HOME
        </a>
          <a class="nav-item" (click)="menu = false" routerLink="reel" routerLinkActive="active-link">
              REEL
            </a>
          <a class="nav-item" (click)="menu = false" routerLink="about" routerLinkActive="active-link">
              ABOUT
            </a>
          <a class="nav-item" (click)="menu = false" routerLink="resume" routerLinkActive="active-link">
              RESUME
            </a>
          <a class="nav-item" (click)="menu = false" routerLink="contact" routerLinkActive="active-link">
              CONTACT
            </a>
    </div>
</div>


</nav>
