.resume
    padding: 100px 0
    .container
        display: flex
    section
        position: relative
        h1
            margin-bottom: 0
            transform: rotateZ(-90deg)
            position: absolute
            left: -140px
            top: 90px
            font-size: 40px
            width: 300px
            text-align: right
        .content
            margin-left: 50px
        .double-high
            left: -165px
            top: 70px
            margin-bottom: 0
            .smaller-h1
                font-size: 20px
                top: 34px
                left: 140px
                position: absolute
            .content-section
                margin-bottom: 50px
     
    .aside
        width: 300px
        position: relative
        section
            position: relative
            margin-bottom: 50px
            .content
                p
                    margin-left: 0px
                .skill
                    font-weight: bold
                    margin-top: 10px
                .skill-level-container
                    display: flex
                .dot
                    border-radius: 50%
                    border: 2px solid black
                    width: 10px
                    height: 10px
                    margin: 5px
                    margin-left: 10px
                .dot-filled
                    margin-right: 5px
                    border-radius: 50%
                    border: 2px solid black
                    width: 10px
                    height: 10px
                    background: black
                    margin: 5px
                    margin-left: 10px
                    &:nth-child(last)
                        margin-right: 0 
                    &:nth-child(1)
                        margin-left: 0                            
    .main
        max-width: 600px
        position: relative
        .content
            margin-right: 50px
            .content-section
                margin-bottom: 50px
                p
                    margin-left: 20px
.cta-container
    margin-top: 100px
.cta
    padding: 15px 40px
    background: #c20025
    color: #ffffff
    text-align: center
    text-decoration: none
    font-size: 1.5em
    transition: .3s ease all
    &:hover
        background: lighten(#c20025, 10%)                     
@media (max-width: 960px)
    section
        width: 100%
        max-width: 600px
    .desktop
        display: none
    .mobile
        margin-left: 40px
        padding-bottom: 50px
        width: calc(100% - 40px)
    .resume
        padding: 120px 0
    .main, .aside
        margin-left: 40px
        width: calc(100% - 40px)
    .container
        flex-direction: column
        margin: auto


@media (min-width: 960px)
    .desktop
        display: block
    .mobile
        display: none