<section class="resume">
  <div class="container">
    <section class="main">
      <h1>EXPERIENCE</h1>
      <div class="content">
        <div class="content-section">
          <i>Animator/Motion Designer</i>, February 2016 – June 2018<br>
          <b>BicMedia</b>, Kansas City, MO<br>
          <p>
            Established unique style for each video or graphics piece based around client branding and needs.
          </p>  
          <p>
            Created and animated storyboards around video script, allowing for client input in every step of the process.
          </p>
          <p>
            Used design, video, motion and 3D software to create graphics, videos, animations and special effects.
          </p>
        </div>
        <div class="content-section">
          <i>Animator/Motion Designer</i>, April 2012 – July 2015<br>
          <b>ProPoint Graphics</b>, New York City, NY<br>
          <p>
            Designed videos and animations based on client needs, branding and budget.
          </p>  
          <p>
            Took charge of project creative content from start to finish, including style and aesthetic, storyboards, motion graphics, all the way to final product.
          </p>
          <p>
            Utilized variety of tools for 3D and 2D animation, vector graphics, photography, video editing and more.
          </p>
        </div>
        <div class="content-section">
            <i>Associate Interactive/Motion Designer</i>, March 2010 – August 2011<br>
            <b>Bailey Lauerman</b>, Lincoln, NE<br>
            <p>
                Created motion graphics, 3D animations, video and sound edits for a variety of client projects.
            </p>  
            <p>
                Designed and built web sites, online advertisements, interactive and social media solutions using both flash and html based websites.
            </p>
            <p>
                Animated short videos for presentations, commercials, web videos, and events.
            </p>
          </div>
          <div class="content-section">
              <i>Art Director</i>, August 2008 – December 2009<br>
              <b>The Daily Nebraskan</b>, Lincoln, NE<br>
              <p>
                  Created graphics and art for Newspaper articles.
              </p>  
              <p>
                  Designed information graphics for articles and full page graphic layouts.
              </p>
              <p>
                  Worked in a fast paced environment and was assigned art jobs only hours before printing.
              </p>
            </div>
            <div class="content-section">
                <i>Graphics and Web Designer</i>,  January 2007 – December 2009<br>
                <b>Center for Digital Research in Humanities</b>, Lincoln, NE<br>
                <p>
                    Assisted in the design and building of archival and educational websites for the state and education faculties.
                </p>  
                <p>
                    Created graphics, logos, brochures, websites, and other creative work for both print and digital.
                </p>
                <p>
                    Was responsible for a large portion of the creative and visual direction for work at CDRH.
                </p>
              </div>          
      </div>
    </section>
    <div class="aside">
    <section>

        <h1>EDUCATION</h1>
        <div class="content">
          <div class="content-section">
            <b>University of Nebraska–Lincoln,</b><br>
            Lincoln, NE
            <p>
                College of Journalism<br>and Mass Communications
            </p>  
            <p>
                Bachelor of Journalism,<br>
                December 2009
            </p>
            <p>
                <b>Major</b>: Advertising<br>
                <b>Concentrations</b>: Art,
                Psychology, and English
            </p>
          </div>
          </div>
      </section>
      <section>

          <h1>SKILLS</h1>
          <div class="content">
            <div class="content-section">
              <div class="skill">AFTER EFFECTS</div>
              <div class="skill-level-container">
                <div class="dot-filled"></div>
                <div class="dot-filled"></div>
                <div class="dot-filled"></div>
                <div class="dot-filled"></div>
                <div class="dot-filled"></div>
              </div>
              <div class="skill">CINEMA 4D</div>
              <div class="skill-level-container">
                  <div class="dot-filled"></div>
                  <div class="dot-filled"></div>
                  <div class="dot-filled"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                </div>
              <div class="skill">PHOTOSHOP</div>
              <div class="skill-level-container">
                  <div class="dot-filled"></div>
                  <div class="dot-filled"></div>
                  <div class="dot-filled"></div>
                  <div class="dot-filled"></div>
                  <div class="dot-filled"></div>
                </div>
              <div class="skill">ILLISTRATOR</div>
              <div class="skill-level-container">
                  <div class="dot-filled"></div>
                  <div class="dot-filled"></div>
                  <div class="dot-filled"></div>
                  <div class="dot-filled"></div>
                  <div class="dot"></div>
                </div>
              <div class="skill">INDESIGN</div>
              <div class="skill-level-container">
                  <div class="dot-filled"></div>
                  <div class="dot-filled"></div>
                  <div class="dot-filled"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                </div>
              <div class="skill">HTML/CSS</div>
              <div class="skill-level-container">
                  <div class="dot-filled"></div>
                  <div class="dot-filled"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                </div>
            </div>
            </div>
        </section>
        <section>

            <h1>PAST CLIENTS</h1>
            <div class="content">
              <div class="content-section">
                <p>
                    Google, Disney, BET, CBS Sports, LinkedIn, Viacom, National History Museum, MasterCard, Nickelodeon, Planned Parenthood, Union Pacific, Snickers, Nationwide, First National Bank, Cessna, ConAgra and many, many more.
                </p>
                </div>
                </div>
                </section>
                <section>

                    <h1>INTERESTS</h1>
                    <div class="content">
                      <div class="content-section">
                        <p>
                            Google, Disney, BET, CBS Sports, LinkedIn, Viacom, National History Museum, MasterCard, Nickelodeon, Planned Parenthood, Union Pacific, Snickers, Nationwide, First National Bank, Cessna, ConAgra and many, many more.
                        </p>
                        </div>
                        </div>
                        </section>
    </div>
  </div>
</section>